@charset "utf-8";
@font-face 
{
    font-family: 'font1';
	src: url("../fonts/SEGOEUI.TTF");
}

@font-face 
{
    font-family: 'font2';
    src: url("../fonts/Iglesia.ttf");
}


a{text-decoration: none; color: white;}

html 
{
  height: 100%;
}

body 
{
  margin: 0px;
}

#interface
{
	position: relative;
	margin: 0px auto;
	width: 100%;
}

/* Header configuration START */

#header
{
	//make the selection impossible to copy
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-right: auto;    
    margin-left: auto;  
}

.menuLinks
{
 	position: relative;
  	color: #000;
  	text-decoration: none;
	padding: 17px 0px;
}

.menuLinks:before 
{
  content: "";
  position: absolute;
  top: 45px;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  background-color: black;
}

.menuLinks:hover:before 
{
  visibility: visible;
}

#title
{
	position: relative;
	display: block;
	height: 80px;
	color: white;
	background-color: black;	
	margin: 0px;
}

#title h1
{
	position: relative;
	text-align: center;
	font-family: 'font2';
	font-size: 32pt;
	margin: 0px auto;
	top: 20%;
}

#menu
{
	background-color: #e6e6e6;
	position: relative;
	height: 50px;
	margin: 0px;
	border-bottom: 1px solid #a7a4a4;
	min-width: 10px;
}

#menu ul
{
	position: relative;
	display: block;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'font1';
	top: 20%;
	font-size: 8.5pt;
}

#menu li
{
	display: inline-block;
	margin: 6px;
}

#date
{
	position: absolute;
	right: 10%;
	top: 32.5%;
	text-transform: uppercase;
	font-family: 'font1';
	font-size: 8.5pt;
	margin: 0px 0px;
}

/* Header configuration END */

@media screen and (max-width: 1599px)
{
	#interface 
	{
		width: 100%;
	}
}

@media screen and (max-width: 780px)
{
	#store
	{
		display: none;
	}
}

@media screen and (max-width: 718px)
{
	#adventure
	{
		display: none;
	}
}


@media screen and (max-width: 598px)
{
	#photos
	{
		display: none;
	}
}


@media screen and (max-width: 508px)
{
	#contact
	{
		display: none;
	}
}

@media screen and (max-width: 406px)
{
	.menuLinks
	{
		left: -150%;
	}
}


